version: '3.8'

services:
  fraud-api:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: fraud_detection_container
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - ENV=development
    restart: always